.pendaftaran {
  background-color: #28abe3;
  padding: 40px 60px;
  border-radius: 8px;
}
.transaksi {
  background-color: #fb6648;
  padding: 40px 60px;
  border-radius: 8px;
}
.pengambilan {
  background-color: #9b59b6;
  padding: 40px 60px;
  border-radius: 8px;
}
.stok {
  background-color: #daa520;
  padding: 40px 60px;
  border-radius: 8px;
}
.pasangan {
  background-color: #03396c;
  padding: 40px 60px;
  border-radius: 8px;
}
.laporan {
  background-color: #7bb606;
  padding: 40px 60px;
  border-radius: 8px;
}

a {
  text-decoration: none;
}
th {
  font-size: 14px;
  font-weight: 400;
}
table {
  border-radius: 6px;
  border: 1px solid black;
}
.dropdown-toggle {
  border: 1px solid #dee2e6;
  border-radius: 0px;
}
.data-pasien {
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #dee2e6;
}
.jumlah {
  border: 1px solid #dee2e6;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  background-color: white;
  box-shadow: 0px 2px 4px -2px rgba(16, 24, 40, 0.06),
    0px 4px 8px -2px rgba(16, 24, 40, 0.1);
}
.btn-action {
  padding: 0px;
}
